<div class="banner" id="banner-<%=banner_id %>">
    <div class="banner-img partial-banner" >
        <img src="pictures/logo.png">
    </div>
    <p class="banner-text"><%= banner_title %></p>
</div>