
<div class="page">
    <%- include('partials/header'); -%>
    <%- include('partials/banner'); -%>
    <div class="body" id="body-about">
        <div class="section" id="school">
            <h1>OUR SCHOOL</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Pretium vulputate sapien nec sagittis aliquam. Duis ut diam quam nulla porttitor massa id. Vulputate odio ut enim blandit. Elementum eu facilisis sed odio morbi quis commodo. Amet facilisis magna etiam tempor orci eu. Pellentesque adipiscing commodo elit at imperdiet dui accumsan sit amet. Faucibus interdum posuere lorem ipsum dolor. Viverra adipiscing at in tellus integer feugiat scelerisque varius morbi. Diam donec adipiscing tristique risus nec feugiat in. Tempus imperdiet nulla malesuada pellentesque elit eget gravida cum sociis. Lectus arcu bibendum at varius vel. Nibh tellus molestie nunc non blandit massa enim nec dui. Tempus egestas sed sed risus pretium. Auctor eu augue ut lectus arcu bibendum.</p>
        </div>
        <div class="dualsection" id="curteam_signup">
            <div class="section section1">
                <h1>CURRENT TEAMS</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
            <div class="section section2">
                <h2>INTERESTED?</h2>
                <h2>SIGN UP!</h2>
                <div class="button" id="signup">
                    <a href="">SIGN UP</a>
                </div>
            </div>          
        </div>
        <div class="dualsection" id="volunteer">
            <div class="section section1">
                <h1>VOLUNTEER</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
            <div class="section section2">
                <h2>INTERESTED?</h2>
                <h2>VOLUNTEER!</h2>
                <div class="button" id="volbutton">
                    <a href="">SIGN UP</a>
                </div>
            </div>
        </div>
        <div class="section" id="VEXhistory">
            <h1>VEX HISTORY</h1>
            <!-- content -->
        </div>
    </div>
    <%- include('partials/footer'); -%>
</div>
