<%- include('partials/header'); -%>
<%- include('partials/banner'); -%>
<div class="body" id="body-gallery">
    <div class="section">
        <img src="">
    </div>
</div>
<%- include('partials/footer'); -%>