<%- include('partials/header'); -%>
<div class="page">
    <div id="banner-home" class="banner">
        <p class="banner-text">HILBERT</p>
        <div class="banner-img"><img src="pictures/logo.png"></div>
        <p class="banner-text">ROBOTICS</p>
    </div>
    <div class="body" id="body-home">
        <div class="section" id="intro">
            <h1>INTRODUCTION</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Aliquam etiam erat velit scelerisque in dictum. Risus feugiat in ante metus dictum at tempor commodo.</p>
        </div>
        <div class="section" id="whatVEX">
            <h1>WHAT IS VEX?</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Netus et malesuada fames ac turpis. Enim nunc faucibus a pellentesque sit amet. Volutpat blandit aliquam etiam erat velit scelerisque in dictum. Massa tincidunt nunc pulvinar sapien. Cras pulvinar mattis nunc sed blandit libero volutpat. Hendrerit gravida rutrum quisque non tellus orci ac auctor augue. Lobortis feugiat vivamus at augue eget arcu. Cras pulvinar mattis nunc sed. Arcu dui vivamus arcu felis bibendum. Facilisis volutpat est velit egestas dui id ornare. Sit amet consectetur adipiscing elit ut aliquam. Tellus in hac habitasse platea dictumst. Volutpat commodo sed egestas egestas fringilla. Amet risus nullam eget felis eget nunc lobortis mattis. Volutpat sed cras ornare arcu dui vivamus arcu felis. Nunc lobortis mattis aliquam faucibus purus in massa tempor nec. Suspendisse faucibus interdum posuere lorem ipsum. Cursus eget nunc scelerisque viverra mauris in aliquam sem.</p>
        </div>
        <div class="section" id="competition">
            <h1>2022-23 COMPETITION</h1>
            <p>Pharetra pharetra massa massa ultricies. Arcu odio ut sem nulla. Pretium viverra suspendisse potenti nullam. Et ligula ullamcorper malesuada proin libero nunc consequat. Lorem donec massa sapien faucibus et. Facilisis mauris sit amet massa vitae tortor condimentum lacinia quis. Imperdiet proin fermentum leo vel orci porta. Urna et pharetra pharetra massa massa ultricies. Eget mauris pharetra et ultrices neque ornare aenean euismod. Dis parturient montes nascetur ridiculus mus mauris. Convallis aenean et tortor at. Parturient montes nascetur ridiculus mus. A condimentum vitae sapien pellentesque habitant. Bibendum arcu vitae elementum curabitur vitae nunc sed velit. Eget nulla facilisi etiam dignissim diam quis. Nisl suscipit adipiscing bibendum est. Nisl purus in mollis nunc sed. Habitant morbi tristique senectus et. Diam sit amet nisl suscipit adipiscing bibendum.</p>
        </div>
        <div class="section" id="curteams">
            <h1>CURRENT TEAMS</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
        <div class="sidesec" id="home-spon">
            <h1>SPONSORS</h1>
            <!-- sponsor logos-->
            <h3>BECOME A SPONSOR!</h3>
            <a href="">BECOME A SPONSOR</a>  
        </div>
    </div>
</div>
<%- include('partials/footer'); -%>