<!-- <%- include('partials/header'); -%>
<%- include('partials/banner'); -%>
<div class="body" id="body-resources">
    <div class="dualsection" id="livecomp">
        <div class="section section1" id="livestream">
            <h1>LIVESTREAM</h1>
        </div>
        <div class="section" id="compsched">
            <h1>COMPETITION SCHEDULE</h1>
        </div>
    </div>
    <div class="section" id="schedule">
        <h1>SCHEDULE</h1>
    </div>
    <div class="dualsection" id="VEXinfo">
        <div class="section section1" id="VEXforum">
            <h1>VEX FORUM</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
        <div class=" section section2">
            <h1>RULEBOOK</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
    </div>
    <div class="section" id="teamcontact">
        <h1>TEAM CONTACT</h1>
    </div>
</div>
<%- include('partials/footer'); -%> -->
